.jumbotron {
  background-color: #fafafa;
}

.line {
  color: #6c63ff;
  border-color: #6c63ff;
  background-color: #6c63ff;
  height: 1px;
  border-radius: 5px;
  width: 50%;
}

.l {
  font-size: 24px;
  align-items: center;
  display: flex;
}

.h1 {
  font-size: 48px;
}

.h2 {
  font-size: 36px;
}
