
.form {
    width: 500px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    box-shadow: -5px 18px 46px -20px #6A6A6A;
    background-color: #FFF;
    padding: 50px;
}

#form-title {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: #000000;
    width: 450px;
}

#form-outer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/*
#input-button {
    width: 460px;
    height: 50px;
    border-radius: 12px;
    margin: 20px 0 60px 0;
    background-color: #6C63FF;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #FFFFFF;
}
*/