#girl-phone {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 700px;
    }

#girl-space {
    width: 700px;
    height:200px;
}
#girl {
    height: 550px;
}