#home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
  height: 600px;
}

.block-one {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.block-one h1 {
  font-family: "Poppins", sans-serif;
  font-size: 70px;
  font-weight: bold;
  color: #464353;
  margin-bottom: -50px;
}

.block-one input {
  width: 600px;
  height: 50px;
  /* max-height: 200px; */
}

.block-two {
  width: 600px;
  height: 600px;
}

@media screen and (max-width: 1300px) {
  #home {
    flex-direction: column;
  }
  .block-two {
    display: none;
  }
}



