.input-form {
    border: 4px solid #6C63FF;
    border-radius: 12px;
    height: 45px;
    width: 450px;
    margin: 20px 0 20px 0;
}

input[type="text"] {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.input-form::placeholder{
    color: #6A6A6A;
}