body {
  background-color: #e5e5e5;
}

.jumbo {
  padding: 0.5rem 2rem;
  background: #6c63ff;
  border-radius: 20px;
}

.solucion {
  padding: 4rem 2rem;
  background: #ffffff;
  margin-top: 2%;
  border-radius: 21px;
}

.buscar {
  font-size: 36px;
  width: 12rem;
  height: 3rem;
  color: #2d2d2d;
  background: #ffffff;
  text-align: center;
  padding-bottom: 3.5rem;
  padding-top: 0.1rem;
}

.filter {
  color: #2d2d2d;
  float: right;
  font-size: 36px;
  width: 3rem;
  height: 3rem;
  background: transparent;
  border-color: transparent;
  padding-bottom: 3.5rem;
  padding-top: 0.1rem;
  padding-right: 3rem;
}

label {
  font-size: 24px;
}

.pull-right {
  float: right;
}

.buttonSquare {
  font-size: 24px;
  color: #ffffff;
  background-color: #6c63ff;
  border-color: #6c63ff;
  border-radius: 8px;
  height: 3rem;
  width: 12rem;
}

.tituloInput {
  width: 50%;
  border-radius: 14px;
  border-color: #6c63ff;
  border-width: 3px;
  padding-left: 2rem;
  margin-bottom: 1rem;
}

.descripciionCortaInput {
  width: 50%;
  border-radius: 14px;
  border-color: #6c63ff;
  border-width: 3px;
  padding-left: 2rem;
  margin-bottom: 1rem;
}

.descripciionInput {
  margin-top: 1rem;
  width: 50%;
  border-radius: 14px;
  border-color: #6c63ff;
  border-width: 3px;
  padding-left: 2rem;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  height: 10rem;
}

.bottomInput {
  border-radius: 14px;
  border-color: #6c63ff;
  border-width: 3px;
  padding-left: 2rem;
  height: 3rem;
}
